#errorMsg{
    color: red;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/station-839208_1280.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    overflow-x: hidden;
}

a.credit {
    left: 0;
    bottom: 0;
    color: #777777;
    padding-left: 10px;
    font-size: 10px; 
    text-align: left;
}
